<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Goatverse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<Goatverse.Properties.Settings>
			<setting name="languageCode" serializeAs="String">
				<value>en-US</value>
			</setting>
		</Goatverse.Properties.Settings>
	</userSettings>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IUsersManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ILobbyManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IProfilesManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IFriendsManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IMatchManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ICardsManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8090/GoatverseService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUsersManager"
    contract="GoatverseService.IUsersManager" name="NetTcpBinding_IUsersManager">
    <identity>
     <userPrincipalName value="VICTUS-DUAA\daur0" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8090/GoatverseService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyManager"
    contract="GoatverseService.ILobbyManager" name="NetTcpBinding_ILobbyManager">
    <identity>
     <userPrincipalName value="VICTUS-DUAA\daur0" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8090/GoatverseService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProfilesManager"
    contract="GoatverseService.IProfilesManager" name="NetTcpBinding_IProfilesManager">
    <identity>
     <userPrincipalName value="VICTUS-DUAA\daur0" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8090/GoatverseService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendsManager"
    contract="GoatverseService.IFriendsManager" name="NetTcpBinding_IFriendsManager">
    <identity>
     <userPrincipalName value="VICTUS-DUAA\daur0" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8090/GoatverseService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMatchManager"
    contract="GoatverseService.IMatchManager" name="NetTcpBinding_IMatchManager">
    <identity>
     <userPrincipalName value="VICTUS-DUAA\daur0" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8090/GoatverseService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICardsManager"
    contract="GoatverseService.ICardsManager" name="NetTcpBinding_ICardsManager">
    <identity>
     <userPrincipalName value="VICTUS-DUAA\daur0" />
    </identity>
   </endpoint>
  </client>
	</system.serviceModel>
	<log4net xmlns="http://logging.apache.org/log4net">
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="RollingFileAppender"/>
			<appender-ref ref="SmtpAppender"/>
		</root>

		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/log.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<maxSizeRollBackups value="5"/>
			<maximumFileSize value="10MB"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
			<threshold value="DEBUG" />
		</appender>

		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
			<smtpHost value="smtp.gmail.com"/>
			<smtpPort value="587"/>
			<authentication value="Basic"/>
			<username value="goatversegamelogger@gmail.com"/>
			<password value="Goatverse123"/>
			<enableSsl value="true"/>

			<from value="goatversegamelogger@gmail.com"/>
			<to value="daur0704@outlook.com"/>
			<subject value="Log de Error/Fatal en la Aplicación"/>
			<bufferSize value="1"/>
			<lossy value="false"/>

			<threshold value="ERROR"/>

			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline"/>
			</layout>
		</appender>
	</log4net>
</configuration>