<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Goatverse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<Goatverse.Properties.Settings>
			<setting name="languageCode" serializeAs="String">
				<value>en-US</value>
			</setting>
		</Goatverse.Properties.Settings>
	</userSettings>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IUsersManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ILobbyManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IProfilesManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IFriendsManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IMatchManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ICardsManager">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8090/GoatverseService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUsersManager"
    contract="GoatverseService.IUsersManager" name="NetTcpBinding_IUsersManager">
    <identity>
     <userPrincipalName value="VICTUS-DUAA\daur0" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8090/GoatverseService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyManager"
    contract="GoatverseService.ILobbyManager" name="NetTcpBinding_ILobbyManager">
    <identity>
     <userPrincipalName value="VICTUS-DUAA\daur0" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8090/GoatverseService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProfilesManager"
    contract="GoatverseService.IProfilesManager" name="NetTcpBinding_IProfilesManager">
    <identity>
     <userPrincipalName value="VICTUS-DUAA\daur0" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8090/GoatverseService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendsManager"
    contract="GoatverseService.IFriendsManager" name="NetTcpBinding_IFriendsManager">
    <identity>
     <userPrincipalName value="VICTUS-DUAA\daur0" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8090/GoatverseService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMatchManager"
    contract="GoatverseService.IMatchManager" name="NetTcpBinding_IMatchManager">
    <identity>
     <userPrincipalName value="VICTUS-DUAA\daur0" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8090/GoatverseService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICardsManager"
    contract="GoatverseService.ICardsManager" name="NetTcpBinding_ICardsManager">
    <identity>
     <userPrincipalName value="VICTUS-DUAA\daur0" />
    </identity>
   </endpoint>
  </client>
	</system.serviceModel>
</configuration>